<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="user__main">
            <p><%= pageTitle %></p>
            <article>
                 <% if (vendor.length > 0) { %>
                    <div class="user__div">
                        <p class="user__email">Email: <%= user.email %></p>
                        <div class="card__actions">
                            <a href="/delete-user/<%= user._id %>" class="btn">Add to Cart</a>
                        </div>
                    </div>
                
            <% } else {%>
                <p>No Vendor registered!</p>
            <% } %>
            </article>
           
        </main>
        <%- include('../includes/end.ejs') %>